.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    padding: 5px;
    align-items: center;
  }
  
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }